<link rel="stylesheet" href="/styles/output.style.css" />
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
  integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
  crossorigin=""
/>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<main class="overflow-auto">
  <!-- <div class="container text-center">
    <h3 class="fw-bold pt-2 text-white">Health Risk Assessment Status</h3>
  </div> -->
  <!-- <div id="year" class="container">
    <select name="year" id="select_year">
      <option value="all_data" selected>All data</option>
    </select>
  </div> -->
  <!-- <div class="container d-flex flex-column">
    <div
      class="row w-100 text-center mt-3 text-white bg-primary align-self-center"
    >
      <h3 class="wqi_header">Sample Location</h3>
    </div>

    <div id="siteMap" style="height: 33rem"></div>
  </div> -->
  <div
    class="container d-flex flex-column align-items-center"
    style="height: 650px"
  >
    <div class="row w-100 text-center mt-3 text-white bg-primary">
      <h3 class="wqi_header">Health Risk Assessment(Nitrate and fluoride)</h3>
    </div>
    <table class="table text-center text-wrap bg-light">
      <thead>
        <tr class="t-h">
          <th scope="col">Sl No.</th>
          <th scope="col">Location Name</th>
          <th scope="col">Human</th>
          <th scope="col">Hazard Index(HI)</th>
          <th scope="col">Health Risk</th>
        </tr>
      </thead>
      <tbody id="hazard"></tbody>
    </table>
  </div>
  <!-- <div
    class="container d-flex flex-column align-items-center chart"
    style="height: 650px"
  >
    <div class="row w-100 text-center mt-3 text-white bg-primary">
      <h3 class="wqi_header">Location-wise Health Risk Assessment</h3>
    </div>
    <Canvas id="barChart" style="background-color: white"></Canvas>
  </div> -->
</main>

<!-- scripts -->
<script
  src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
  integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
  crossorigin=""
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<script>
  const data = JSON.parse('<%- data %>');
  

//     //markers with tooltip
//     for (var key in data) {
//             let html = '';
//             let temp = [];
//             for (var item in data[key]) {
//                 if (item === 'ph') {
//                     temp = 'pH';
//                     html += "<span>" + temp + " : " + data[key][item] + "</span><br>";
//                 }
//                 else {
//                     if (item === 'latitude' | item === 'longitude') {
//                         temp = item.charAt(0).toUpperCase() + item.slice(1);
//                         html += "<span>" + temp + " : " + parseFloat(data[key][item]).toFixed(4) +
//                             "</span><br>";
//                     }
//                     else if (item === 'temperature' | item === 'turbidity' | item === 'hardness' |
//                         item === 'alkalinity' | item === 'ammonium' | item === 'nitrate' |
//                         item === 'nitrite' | item === 'phosphate' | item === 'fluoride' |
//                         item === 'date') {
//                         let unit = '';
//                         if (item === 'temperature') {
//                             unit = '&deg;C';
//                         }
//                         else if (item === 'turbidity') {
//                             unit = 'NTU';
//                         }
//                         else if (item === 'date') {
//                             unit = '';
//                         }
//                         else {
//                             unit = 'mg/l';
//                         }
//                         temp = item.charAt(0).toUpperCase() + item.slice(1);
//                         html += "<span>" + temp + " : " + data[key][item] + " " + unit +"</span><br>";
//                     }
//                     else {
//                         let unit = '';
//                         if (item === 'electrical_conductivity') {
//                             unit = 'S/m';
//                         }
//                         else {
//                             unit = 'mg/l';
//                         }
//                         temp = item.split("_");
//                         let temp1 = '';
//                         for (var i = 0; i < temp.length; i++) {
//                             temp1 = temp1 + temp[i].charAt(0).toUpperCase();
//                         }
//                         html += "<span>" + temp1 + " : " + data[key][item] + " "+ unit +"</span><br>";
//                     }
//                 }
//             }

//             if (data[key].water_quality_index >= 0 && data[key].water_quality_index <= 25) {
//                 L.marker([data[key].latitude, data[key].longitude], { icon: darkGreenIcon })
//                     .addTo(map)
//                     .bindTooltip(html)
//                     .closeTooltip();
//             }
//             else if (data[key].water_quality_index > 25 && data[key].water_quality_index <= 50) {
//                 L.marker([data[key].latitude, data[key].longitude], { icon: lightGreenIcon })
//                     .addTo(map)
//                     .bindTooltip(html)
//                     .closeTooltip();
//             }
//             else if (data[key].water_quality_index > 50 && data[key].water_quality_index <= 75) {
//                 L.marker([data[key].latitude, data[key].longitude], { icon: yellowIcon })
//                     .addTo(map)
//                     .bindTooltip(html)
//                     .closeTooltip();
//             }
//             else if (data[key].water_quality_index > 75 && data[key].water_quality_index <= 100) {
//                 L.marker([data[key].latitude, data[key].longitude], { icon: orangeIcon })
//                     .addTo(map)
//                     .bindTooltip(html)
//                     .closeTooltip();
//             }
//             else if (data[key].water_quality_index > 100) {
//                 L.marker([data[key].latitude, data[key].longitude], { icon: redIcon })
//                     .addTo(map)
//                     .bindTooltip(html)
//                     .closeTooltip();
//             }
//         }



  var hazard_tbody = document.getElementById("hazard");
  var bg_color_child, bg_color_male, bg_color_female;
  var i = 0;
  for (var key in data) {
    if (data[key].hazard_index.male < 1) {
      health_risk_male = "No Risk";
      bg_color_male = "t-1";
    } else {
      health_risk_male = "High Risk";
      bg_color_male = "t-5";
    }

    if (data[key].hazard_index.female < 1) {
      health_risk_female = "No Risk";
      bg_color_female = "t-1";
    } else {
      health_risk_female = "High Risk";
      bg_color_female = "t-1";
    }

    if (data[key].hazard_index.child < 1) {
      health_risk_child = "No Risk";
      bg_color_child = "t-1";
    } else {
      health_risk_child = "High Risk";
      bg_color_child = "t-5";
    }
    html =
      "<tr class=" +
      bg_color_male +
      '>\
                    <td rowspan="3">' +
      (i + 1) +
      '</td>\
                    <td rowspan="3" id="address' +
      i +
      '"></td>\
                    <td>Males</td>\
                    <td>' +
      data[key].hazard_index.male +
      "</td>\
                    <td>" +
      health_risk_male +
      "</td>\
                </tr>\
                <tr class=" +
      bg_color_female +
      ">\
                    <td>Females</td>\
                    <td>" +
      data[key].hazard_index.female +
      "</td>\
                    <td>" +
      health_risk_female +
      "</td>\
                </tr>\
                <tr class=" +
      bg_color_child +
      ">\
                    <td>Children</td>\
                    <td>" +
      data[key].hazard_index.child +
      "</td>\
                    <td>" +
      health_risk_child +
      "</td>\
                </tr>";
    hazard_tbody.innerHTML += html;
    i++;
    // for (var i = 0; i < json.hazard.length; i++) {

    //     if (json.hazard[i].male < 1) {
    //         health_risk_male = "No Risk";
    //         bg_color_male = "t-1";
    //     } else {
    //         health_risk_male = "High Risk";
    //         bg_color_male = "t-5";
    //     }

    //     if (json.hazard[i].female < 1) {
    //         health_risk_female = "No Risk";
    //         bg_color_female = "t-1";
    //     } else {
    //         health_risk_female = "High Risk";
    //         bg_color_female = "t-1";
    //     }

    //     if (json.hazard[i].child < 1) {
    //         health_risk_child = "No Risk";
    //         bg_color_child = 't-1';
    //     } else {
    //         health_risk_child = "High Risk";
    //         bg_color_child = 't-5';
    //     }
    //     html = '<tr class=' + bg_color_male + '>\
    //                         <td rowspan="3">'+ (i + 1) + '</td>\
    //                         <td rowspan="3">'+ json.data[i].address + '</td>\
    //                         <td>Males</td>\
    //                         <td>'+ json.hazard[i].male + '</td>\
    //                         <td>'+ health_risk_male + '</td>\
    //                     </tr>\
    //                     <tr class='+ bg_color_female + '>\
    //                         <td>Females</td>\
    //                         <td>'+ json.hazard[i].female + '</td>\
    //                         <td>'+ health_risk_female + '</td>\
    //                     </tr>\
    //                     <tr class='+ bg_color_child + '>\
    //                         <td>Children</td>\
    //                         <td>'+ json.hazard[i].child + '</td>\
    //                         <td>'+ health_risk_child + '</td>\
    //                     </tr>';
    //     hazard_tbody.innerHTML += html;
  }
</script>
